.hero {
  padding-top: 45px;
  padding-bottom: 60px;
  color: var(--greyscale-11);

  &__container {
    position: relative;
  }

  &__title {
    @include title-light-italic-32;
    text-transform: uppercase;
    margin-bottom: 28px;
    max-width: 300px;
  }

  &__title > b {
    @include title-bold-32;
  }

  &__button {
    margin-bottom: 45px;
  }

  &__info-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    gap: 38px;
    padding-left: 54px;
  }

  &__info-item {
    position: relative;
    @include body-medium-14;
    color: var(--additional-text-dark-lilac);
  }

  &__info-item > b {
    display: inline-block;
    @include body-bold-16;
    margin-top: 8px;
  }

  &__info-item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--additional-text-dark-lilac);
    transform: translate(-50%, -50%);
  }

  &__info-item:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 1px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #8376a9 30.2%,
      rgba(255, 255, 255, 0) 102.44%
    );
    transform: translate(-50%, 0);
  }

  &__info-decor {
    position: absolute;
    top: 19px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: var(--hero-decor-shadow);
    z-index: var(--z-index-hero-decor);
  }

  &__info-decor:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include tablet {
    &__title {
      @include title-light-italic-46;
      margin-bottom: 32px;
      max-width: 875px;
    }

    &__title > b {
      @include title-bold-46;
    }

    &__button {
      margin-bottom: 64px;
    }

    &__info-wrapper {
      grid-auto-flow: column;
      max-width: 400px;
      padding-left: 0;
      margin-left: 20px;
      gap: 26px;
    }

    &__info-item {
      @include body-medium-14;
    }

    &__info-item > b {
      @include body-bold-16;
    }

    &__info-item:before {
      width: 12px;
      height: 12px;
      top: 80px;
      left: 6px;
    }

    &__info-item:first-child::after {
      top: 80px;
      left: 6px;
      width: 400px;
      height: 1px;
      transform: translate(0, 0);
      background: linear-gradient(
        90deg,
        #8376a9 30.2%,
        rgba(255, 255, 255, 0) 102.44%
      );
    }

    &__info-decor {
      position: absolute;
      top: 74px;
      left: 0px;
      width: 12px;
      height: 12px;
    }

    &__info-decor:before {
      content: '';
      position: absolute;
      width: 55px;
      height: 55px;
    }
  }

  @include laptop {
    &__title {
      @include title-light-italic-52;
      margin-bottom: 52px;
    }

    &__title > b {
      @include title-bold-52;
    }

    &__button {
      margin-bottom: 56px;
    }

    &__info-wrapper {
      max-width: 600px;
    }

    &__info-item {
      @include subhead-medium-18;
    }

    &__info-item > b {
      @include subhead-bold-24;
      margin-top: 16px;
    }

    &__info-item:before {
      top: 110px;
    }

    &__info-item:first-child::after {
      top: 110px;
      width: 600px;
    }

    &__info-decor {
      top: 104px;
    }
  }
}
