$laptop: 1024px;
$mobile-xl: 600px;
$max-width: 1320px;
$horizontal-indent: 8.33%;

@font-face {
  font-family: 'Poppins';
  src: url('../../../../../public/fonts/Poppins/Poppins-Regular.woff')
    format('woff');
  font-weight: 400;
}

.captain-compliance-modal-container {
  border-radius: 16px;
  width: 100%;
  font-family: 'Poppins', sans-serif;

  .cc-cookie-simple {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    width: 96%;
    max-width: calc($max-width + $horizontal-indent* 2);

    &-h2 {
      display: none;
    }

    &-button_close {
      display: none;
    }

    &-container_data {
      background-color: var(--greyscale-5);
      border-radius: 16px;
      padding: 30px;
      @media (max-width: $mobile-xl) {
        padding: 20px;
      }

      &_header {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mobile-xl) {
          flex-direction: column;
          gap: 20px;
        }

        & > div > p {
          font-size: 15px !important;
          line-height: 1.5;
          text-size-adjust: 100%;
          font-weight: 400;
          color: var(--greyscale-10);

          @media (max-width: $laptop) {
            font-size: 14px !important;
          }

          @media (max-width: $mobile-xl) {
            font-size: 13px !important;
          }
        }
      }
    }
  }

  .cc-transparency-footer {
    display: none;
  }

  .cc-cookie-button-list {
    display: flex;
    gap: 20px;

    @media (max-width: $laptop) {
      flex-direction: column;
    }

    @media (max-width: $mobile-xl) {
      flex-direction: row;
    }

    .common-button {
      @include body-medium-16;
      background-color: var(--primary);
      color: var(--greyscale-2);
      border-color: var(--primary);
      padding: 14px 30px;
      border-radius: 10px;
      border: 1px solid;
      transition: all 0.3s;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;

      &:not(:disabled, :active):focus {
        outline: 1px solid var(--greyscale-11);
      }

      &:disabled {
        color: var(--greyscale-7);
        background-color: var(--greyscale-10);
        border-color: var(--greyscale-10);
      }

      &:not(:disabled):hover {
        background-color: var(--greyscale-11);
        border-color: var(--greyscale-11);
      }

      &:not(:disabled):active {
        background-color: var(--greyscale-11);
        border-color: var(--greyscale-11);
      }
    }

    #cc-modal-reject-all {
      background-color: transparent;
      color: var(--greyscale-11);
      border-color: var(--greyscale-11);

      &:not(:disabled, :active):focus {
        outline: 1px solid var(--greyscale-11);
        background-color: var(--property-initial);
      }

      &:disabled {
        color: var(--greyscale-7);
        border-color: var(--greyscale-7);
      }

      &:not(:disabled):hover {
        background-color: var(--property-initial);
      }

      &:not(:disabled):active {
        background-color: var(--greyscale-1);
      }
    }
  }
}
