* > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  max-width: 8px !important;
  min-width: 8px !important;
  margin-right: 10px;
  background-color: var(--grayscale-7) !important;
  border: 1px solid var(--grayscale-8) !important;
}
