:root {
  //colors
  --primary: #e3ff77;
  --primary-2: #e8fb9e;
  --property-initial: rgba(208, 201, 255, 0.1);
  --property-hover-stroke: rgba(255, 255, 255, 0.25);
  --property-hover: rgba(208, 201, 255, 0.16);
  --additional-error: #ff0000;
  --additional-text-lilac: #e8dfff;
  --additional-text-dark-lilac: #8376a9;
  --greyscale-1: #04000d;
  --greyscale-2: #09011a;
  --greyscale-3: #181425;
  --greyscale-4: #2a273b;
  --greyscale-5: #2f2c3b;
  --greyscale-6: #6a6876;
  --greyscale-7: #898989;
  --greyscale-8: #a2a1a6;
  --greyscale-9: #b7b7b7;
  --greyscale-10: #dddddd;
  --greyscale-11: #ffffff;

  //z-index
  --z-index-header: 10;
  --z-index-header-navigation: 5;
  --z-index-header-burger: 6;
  --z-index-dropdown: 5;
  --z-index-hero-decor: 2;
  --z-index-work-spheres-icon: 1;
  --z-index-features-title: 1;
  --z-index-features-card-wrapper: 1;
  --z-index-contact-us: 1;
  --z-index-cookie-banner: 10;

  //shadow
  --hero-decor-shadow: 0px 0px 21.0852px 15px rgba(208, 201, 255, 0.25);
  --work-spheres-decor-shadow: 0px 0px 65px 45px rgba(208, 201, 255, 0.5);
  --features-icon-shadow: 1px 1px 16px rgba(254, 254, 254, 0.19);

  //blur
  --work-spheres-blur-1: linear-gradient(
    325deg,
    rgba(4, 0, 13, 0.1) 49.03%,
    #513ec9 122.15%
  );
  --work-spheres-blur-2: linear-gradient(
    151.54deg,
    rgba(4, 0, 13, 0.1) 37.79%,
    #3a2b93 104.32%
  );

  --features-blur: linear-gradient(
    200deg,
    rgba(4, 0, 13, 0) 37.79%,
    #3a2b93 104.32%
  );
  --features-blur-desktop: linear-gradient(
    200deg,
    rgba(4, 0, 13, 0.5) 37.79%,
    #3a2b93 104.32%
  );

  --reviews-blur: linear-gradient(
    300deg,
    rgba(4, 0, 13, 0.4) 7.14%,
    rgba(60, 45, 150, 0.837548) 57.57%,
    #513ec9 76.29%
  );

  --contact-us-blur: linear-gradient(
    150.65deg,
    rgba(4, 0, 13, 0) 17.13%,
    #3a2b93 100.01%
  );
}
