.overlay {
  position: fixed;
  z-index: var(--index-overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22 22 22 / 0.5);
  z-index: 200;
}

.modal {
  position: relative;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--grayscale2);
}

.modal__close-icon {
  width: 20px;
  height: 20px;
}
