$loading: ':global(.loading)';

.text-button {
  position: relative;
  display: block;
  @include body-regular-12;
  align-items: center;
  transition: all 0.3s;

  svg {
    width: 24px;
    height: 24px;
  }

  &:not(:disabled, :active):focus {
    @include body-bold-12;
  }

  &:not(:disabled):active {
    @include body-bold-12;
  }

  &:not(:disabled):hover {
    text-decoration: underline;
  }

  // &:not(#{$loading}):disabled {
  // }
}

.text-button__content {
  display: flex;
  align-items: center;
  justify-content: center;

  &#{$loading} {
    opacity: 0;
  }
}
