.hero {
  padding-top: 45px;
  padding-bottom: 60px;
  color: var(--greyscale-11);

  &__container {
    position: relative;
  }

  &__title {
    @include title-light-italic-32;
    text-transform: uppercase;
    margin-bottom: 28px;
    max-width: 300px;
  }

  &__title > b {
    @include title-bold-32;
  }

  &__button {
    margin-bottom: 45px;
  }

  &__info-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    gap: 38px;
    padding-left: 54px;
  }

  &__info-decor {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: var(--hero-decor-shadow);
    z-index: var(--z-index-hero-decor);
  }

  &__info-decor:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__info-item {
    position: relative;
    @include body-medium-14;
    color: var(--additional-text-dark-lilac);
  }

  &__info-item > b {
    @include body-bold-16;
  }

  &__info-item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--additional-text-dark-lilac);
    transform: translate(-50%, -50%);
  }

  &__info-item:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 1px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #8376a9 30.2%,
      rgba(255, 255, 255, 0) 102.44%
    );
    transform: translate(-50%, 0);
  }

  &__canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
