.review-slide {
  padding: 36px 20px 50px 16px;
  background-color: var(--property-initial);
  border-radius: 20px;
  width: 300px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
  height: 360px;

  &__reviewer {
    display: grid;
    grid-template-columns: 68px 1fr;
    gap: 16px;
    align-items: start;
    margin-bottom: 36px;
  }

  &__avatar {
    width: 68px;
    height: 68px;
    border-radius: 50%;
  }

  &__reviewer-info {
    margin-top: 5px;
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
  }

  &__name {
    @include subhead-medium-16;
  }

  &__position {
    @include body-regular-14;
    color: var(--greyscale-10);
  }

  &__stars {
    display: grid;
    grid-auto-flow: column;
    max-width: 81px;
    justify-content: start;
  }

  &__review {
    @include body-regular-15;
  }

  @include tablet {
    padding: 40px;
    width: 544px;
    height: 265px;

    &__reviewer {
      margin-bottom: 16px;
    }
  }

  @include laptop {
    &:hover {
      background: var(--property-hover);
      border-color: var(--greyscale-8);
    }
  }

  @include desktop-xl {
    &__reviewer {
      grid-template-columns: 80px 1fr;
    }
    &__avatar {
      width: 80px;
      height: 80px;
    }
    &__name {
      @include subhead-medium-24;
    }

    &__position {
      @include body-regular-18;
    }

    &__review {
      @include body-regular-18;
    }
  }
}
