.reviews {
  color: var(--greyscale-11);
  padding-top: 60px;
  padding-bottom: 40px;

  &__container {
    position: relative;
  }

  &__title {
    @include title-bold-30;
    margin-bottom: 40px;
    max-width: 300px;
  }

  &__title > span {
    color: var(--primary);
  }

  &__blur {
    display: none;
  }

  @include tablet {
    &__title {
      @include title-semibold-44;
      max-width: 625px;
    }

    &__blur {
      display: block;
      position: absolute;
      top: -40px;
      right: -200px;
      width: 730px;
      height: 485px;
      background: var(--reviews-blur);
      opacity: 0.5;
      filter: blur(37px);
      transform: rotate(154deg);
      border-radius: 30%;
    }
  }

  @include laptop {
    padding-top: 100px;
    padding-bottom: 145px;
    &__title {
      margin-bottom: 60px;
    }
  }

  @include desktop-xl {
    padding-top: 150px;
    padding-bottom: 150px;

    &__title {
      @include title-medium-52;
      max-width: 710px;
    }
  }
}
