.work-spheres {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--greyscale-11);

  &__container {
    position: relative;
  }

  &__title {
    @include title-bold-30;
    max-width: 285px;
    margin-bottom: 40px;
  }

  &__title > span {
    color: var(--primary);
  }

  &__card-wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
  }

  &__blur {
    display: none;
  }

  @include tablet-s {
    &__title {
      @include title-semibold-44;
      max-width: 600px;
      margin-bottom: 60px;
    }

    &__card-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 162px);
    }

    &__blur {
      display: block;
      position: absolute;
      border-radius: 150px;
      pointer-events: none;
    }

    &__blur:first-child {
      top: 100px;
      left: -250px;
      width: 700px;
      height: 700px;
      background: var(--work-spheres-blur-1);
      opacity: 0.5;
      filter: blur(37px);
    }

    &__blur:last-child {
      right: -60px;
      bottom: 275px;
      width: 560px;
      height: 300px;
      background: var(--work-spheres-blur-2);
      opacity: 0.5;
      filter: blur(37px);
    }
  }

  @include laptop {
    padding-top: 115px;
    padding-bottom: 75px;

    &__title {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60px;
    }

    &__card-wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 162px);
    }

    &__blur:last-child {
      bottom: -60px;
    }
  }
}
