.contact-us-quick {
  padding-top: 80px;
  padding-bottom: 60px;
  color: var(--greyscale-11);

  &__container {
    position: relative;
    display: grid;
    grid-auto-flow: row;
  }

  &__form-wrapper {
    position: relative;
    padding: 40px 24px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: var(--property-initial);
  }

  &__title {
    @include title-bold-30;
    margin-bottom: 20px;
  }

  &__title > span {
    color: var(--primary);
  }

  &__text {
    @include body-regular-15;
    color: var(--greyscale-8);
    margin-bottom: 40px;
  }

  &__form {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
  }

  &__icon {
    position: absolute;
    z-index: var(z-index-contact-us);
  }

  &__icon:first-child {
    display: none;
  }

  &__icon:nth-child(2) {
    top: -50px;
    right: -0px;

    svg {
      width: 100px;
      height: 100px;
    }
  }

  &__icon:nth-child(3) {
    left: 2;
    bottom: -40px;

    svg {
      width: 42px;
      height: 66px;
    }
  }

  @include tablet {
    &__form {
      grid-template-columns: 30% 40% 20%;
      grid-auto-flow: column;
      max-width: 672px;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__button {
      height: 48px;
    }
  }

  @include laptop {
    padding-top: 175px;
    padding-bottom: 100px;

    &__form-wrapper {
      padding: 80px;
      // max-width: 1120px;
    }

    &__icon:first-child {
      display: block;
      top: -55px;
      left: -20px;
      width: 100px;
      height: 85px;
    }
  }

  @include desktop {
    &__form-wrapper {
      // min-width: 1120px;
    }

    &__icon:first-child {
      display: block;
      top: -75px;
      left: -20px;
      svg {
        width: 140px;
        height: 125px;
      }
    }

    &__icon:nth-child(2) {
      top: -55px;
      right: -75px;
      svg {
        width: 165px;
        height: 175px;
      }
    }

    &__icon:nth-child(3) {
      right: 125px;
      bottom: -60px;
      svg {
        width: 85px;
        height: 135px;
      }
    }
  }
  @include desktop-m {
    &__title {
      @include title-semibold-44;
    }

    &__text {
      @include body-regular-18;
    }

    &__form {
      grid-template-columns: 35% 40% 15%;
      max-width: 900px;
    }
  }

  @include desktop-xl {
    padding-bottom: 150px;
    &__form-wrapper {
      min-width: 1420px;
      max-width: 1420px;
      margin: 0 auto;
    }
  }
}
